footer {
  display: flex;
  color: #fff;
  background-color: #241B35;
  min-width: 100% !important;
  padding: 10px;
  height: 200px;
  justify-content: center;
  align-items: center; }

.contenedor {
  display: flex;
  height: 150px;
  width: 90%;
  justify-content: center; }

header {
  height: 50px; }

.nav-item {
  margin-left: 30px;
  transition: font-size 2s, background-color 2s; }

/* a */
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
  transition: color .15s}

.nav-item.nav-item:hover {
  background-color: #241B35;
  font-size: 20px; }

.navbar {
  height: 50px;
  background-color: #8956F1;
  top: 0;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5); }

main {
  float: left;
  width: 100%;
  height: max-content;
  background-color: #241B35; }

.carousel {
  height: 45vh; }

.carousel-item img {
  max-height: 500px;
  background-size: contain; }

.contenedorBienvenida {
  display: flex;
  justify-content: center;
  padding: 40px;
  align-items: center; }

.bienvenida {
  color: #fff; }

.bienvenida h1 {
  position: relative; }

.bienvenida h1::after {
  bottom: 0;
  content: "";
  background: #241B35;
  display: flex;
  right: 0;
  border-left: 2px solid #fff;
  height: 100%;
  position: absolute;
  animation: escribir 5s infinite alternate steps(38); }

@keyframes escribir {
  from {
    width: 100%; }
  to {
    width: 0; } }

.items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; }

.items li {
  display: inline-block;
  padding: 5px;
  margin-right: 20px;
  justify-content: center; }

.widget {
  margin-top: 20px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: 100%; }

.card {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: all 400ms ease; }

.card:hover {
  box-shadow: 0px 1px 10px 2px #CB80FF; }

.card span {
  color: #241B35; }

.card img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  text-align: center; }

@media only screen and (max-width: 425px) {
  .widget {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .card {
    margin: 10px;
    width: 80%;
    height: auto; } }
