header {
    height: 10vh;
}

.nav-item {
    margin-left: 30px;
    transition: font-size 2s, background-color 2s;
}

.nav-item.nav-item:hover {
    background-color: #241B35;
    font-size: 20px;
}

.navbar {
    background-color: #8956F1;
    top:0;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

main {
    height: 80%;
    display: flex;
}

footer {
    height: 10%;
    display: flex;
}
