footer {
  display: flex;
  color: #fff;
  background-color: #1d2a27;
  min-width: 100% !important;
  padding: 10px;
  height: 200px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  align-items: center; }

.contenedor {
  display: flex;
  height: auto;
  width: 90%;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  align-items: center; }

.links {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 30px; }

.links a {
  text-decoration: none;
  font-size: 30px;
  color: #2efabd; }

.ubicacion {
  display: flex;
  justify-content: center; }

.ubicacion iframe {
  height: auto;
  width: 80%; }

.imgfoot img {
  width: 100%; }

@media only screen and (max-width: 767px) {
  .contenedor {
    flex-direction: column; }
  .imgfoot {
    padding: 30px; }
  footer {
    height: auto;
    justify-content: center; }
  .contenedor img {
    width: 80%; }
  .links {
    padding: 30px;
    gap: 100px; }
  .links a {
    font-size: 50px; }
  .ubicacion {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center; } }

header {
  height: 50px; }

.nav-item {
  margin-left: 30px;
  transition: font-size 2s, background-color 2s; }

.nav-item.nav-item:hover {
  background-color: #1d2a27;
  font-size: 20px; }

.container-fluid {
  background-color: #427064; }

.navbar {
  height: 50px;
  background-color: #427064;
  top: 0;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5); }

main {
  float: left;
  width: 100%;
  height: max-content;
  background-color: #1d2a27; }

.carousel {
  height: 45vh; }

.carousel-item img {
  max-height: 500px;
  background-size: contain; }

.contenedorBienvenida {
  display: flex;
  justify-content: center;
  padding: 40px;
  align-items: center; }

.bienvenida {
  color: #fff; }

.bienvenida h1 {
  position: relative; }

.bienvenida h1::after {
  bottom: 0;
  content: "";
  background: #1d2a27;
  display: flex;
  right: 0;
  border-left: 2px solid #fff;
  height: 100%;
  position: absolute;
  animation: escribir 5s infinite alternate steps(38); }

@keyframes escribir {
  from {
    width: 100%; }
  to {
    width: 0; } }

.items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; }

.items li {
  display: inline-block;
  padding: 5px;
  margin-right: 20px;
  justify-content: center; }

.widget {
  margin-top: 20px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: 100%; }

.card {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: all 400ms ease; }

.card:hover {
  box-shadow: 0px 1px 10px 2px #2efabd; }

.card span {
  color: #1d2a27; }

.card img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  text-align: center; }

@media only screen and (max-width: 996px) {
  .widget {
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .card {
    margin: 10px;
    width: 80%;
    height: auto; } }

@media only screen and (max-width: 425px) {
  .widget {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .card {
    margin: 10px;
    width: 80%;
    height: auto; } }
