.navbar-brand img{
    height: 20px;
}
header {
    height: 50px; }

.nav-item {
    margin-left: 30px;
    transition: font-size 2s, background-color 2s; }

    .nav-item.nav-item:hover {
    background-color: #1d2a27;
    font-size: 20px; }

.container-fluid {
    background-color: #427064; }

.navbar {
    height: 50px;
    background-color: #427064;
    top: 0;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5); 
} 
body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    float: left;
    height: auto;
    background-color: #1d2a27;
}


.contenedorInfo {
    height: max-content;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-direction: column;
}

.contenedorInfo h1 {
    color: #2efabd;
}

.info {
    line-height: 40px;
    margin: 30px;
    font-size: 22px;
    width: 80%;
    text-align: justify;

}

.info ul {
    list-style: none;
    width: 100%;
}

.info i {
    margin: 5px;
    color: #2efabd;
}

.info li {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px;
}


@media only screen and (max-width: 680px) {
    .info li {
        text-align: center;
        align-items: center;
    }
    
}



footer {
    display: flex;
    color: #fff;
    background-color: #1e2223;
    min-width: 100% !important;
    padding: 10px;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    align-items: center; }

.contenedor {
    display: flex;
    height: auto;
    width: 90%;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    align-items: center; }

.redes {
    color: #2efabd;
    display: flex;
    flex-direction: column; }

.textoRedes {
    justify-content: flex-start;
    color: #2efabd;
    align-items: flex-start; }

.redes a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    margin: 10px; }

.ubicacion {
    display: flex;
    justify-content: center;
    flex-direction: column; }

.ubicacion h5 {
    color: #2efabd; }

.imgfoot img {
    width: 100%; }

    @media only screen and (max-width: 767px) {
    .contenedor {
    flex-direction: column; }
    .imgfoot {
    padding: 30px; }
    footer {
    height: auto;
    justify-content: center; }
    .contenedor img {
    width: 80%; }
    .links a {
    font-size: 30px; }
    .ubicacion {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px; } }
