@import "./partials/_variables.scss";
@import "./partials/_footer.scss";
@import "./partials/_header.scss";
@import "./partials/_main.scss";
@import "./partials/_productosDestacados.scss";
@import "./partials/_mediaQuery.scss";
