footer {
    display: flex;
    color: #fff;
    background-color: #1e2223;
    min-width: 100% !important;
    padding: 10px;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    align-items: center;
} //Todo esto es para que el footer pueda tener tamaño y quede posicionado estáticamente abajo

.contenedor {
    display: flex;
    height: auto;
    width: 90%;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.redes {
    color: $colorTerciario;
    display: flex;
    flex-direction: column; 
}

.textoRedes {
    justify-content: flex-start;
    color: $colorTerciario;
    align-items: flex-start;
}
.redes a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    margin: 10px;
}


.ubicacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ubicacion h5 {
    color: $colorTerciario;
}


.imgfoot img {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .contenedor {
    flex-direction: column;
    }
    .imgfoot {
        padding: 30px;
    }
    footer {
        height: auto;
        justify-content: center;
    }
    .contenedor img {
        width: 80%;
    }
    .links a{
        font-size: 30px;
    }
    .ubicacion {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px;
    }  
}




// Con este codeo cree el footer y lo separe en 3 filas  para poder dividirlo en redes sociales, ubicacion y en agradicimiento?? Asi lo dice el HTML