header {
    height: 50px;
}

.nav-item {
    margin-left: 30px;
    transition: font-size 2s, background-color 2s;
}

.nav-item.nav-item:hover {
    background-color: $colorSecundario ;
    font-size: 20px;
}

.container-fluid {
    background-color: $colorPrincipal;
}

.navbar {
    height: 50px;
    background-color: $colorPrincipal;
    top:0;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

// Es la personalizacion del navbar. El hover pertenece a un fondo cuadrado de los items cuando se le pasa el mouse.


