header {
    width: 100%;
}

.nav-item {
    margin-left: 30px;
    transition: font-size 2s, background-color 2s;
}

.nav-item.nav-item:hover {
    background-color: $colorSecundario ;
    font-size: 20px;
}

.navbar {
    background-color: $colorPrincipal;
    z-index:1000;
    top:0;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

