main {
    float: left ;
    width: 100%;
    height: max-content;
    background-color: $colorSecundario;
}

.carousel {
    height: 45vh;
}

.carousel-item img {
    max-height: 500px;
    background-size: contain;
}



// ACÁ EMPIEZO CON EL CSS DEL TEXTO DE BIENVENIDA

.contenedorBienvenida {
    display: flex;
    justify-content: center;
    padding: 40px;
    align-items: center;
}

.bienvenida {
    color: #fff;
}

.bienvenida h1{
    position: relative;
    
}

.bienvenida h1::after {
    bottom: 0;
    content: "";
    background: $colorSecundario;
    display: flex;
    right: 0;
    border-left: 2px solid #fff;
    height: 100%;
    position: absolute;
    animation: escribir 5s infinite alternate steps(39);
}

@keyframes escribir {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

//Todo este codigo es para poder darle una animacion al texto de bienvenida, los steps significan lo largo de la palabra (38 caracteres)
// el botom 0 es para que quede posicioando sobre el h1, porque con el ::after estoy creando un cuadrado vacio que tapa a la palabra
// al irse descubriendo da la sensación de que es escrito como una máquina de escribir. El border sería el cursor de la animacion.


.items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.items li {
    display: inline-block;
    padding: 5px;
    margin-right: 20px;
    justify-content: center;
}

// Con este codigo de los items lo q hago es hacer que la lista se ponga en fila y no en columna. 
