body {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

main {
    float: left ;
    width: 100%;
    height: auto;
    background-color: $colorSecundario;
}

.carousel {
    height: 45vh;
}

.carousel-item img {
    max-height: 500px;
    background-size: contain;
}
